@import './variables';
@import './mixins';
@import './functions';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header {
    max-width: 100%;
    height: 30vh;
    position: relative;
}

#logo {
    width: 10%;
    height: 180%;
    margin-inline: 1%;
    margin-top: 5%;
    z-index: 1;
}

.nav {
    background-color: #B50014;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-inline: 5%;
    @include flexbox(row, center, flex-end);

    .navbarlinks {
        @include flexbox(row, center, center);
        list-style-type: none;
        margin: 0;
        padding:0;
        flex-wrap: wrap;
        padding-inline: 0 10em;

        li {

            a {
                display: block;
                color: white;
                text-align: center;
                padding-inline: 1em;
                text-decoration: none;
                font-weight: 700;
                font-size: 0.8rem;
                line-height: 1.2;
            }
        }
    }
}

.navbarlinks li:last-child a {
    display: flex;
    align-items: center;
}

.navbarlinks li:last-child a img {
    width: 100%;
    height: 100%;
    margin-right: 5%;
}

#crnaLinija {
    @include flexbox(row, center, flex-end);
    max-width: 100%;
    height: 2vw;
    background-color: #252525;
    color: #FFFFFF;
    line-height: 1.2;
    box-sizing: border-box;
}

#crnaLinija{
    img {
        width: 3%;
        height: 1vw;
    }
}

#crnaLinija{
    p {
        font-size: 1.5vmin;
        margin-inline: 0 10vw;
    }
}

.slideshow-container {
    background-image: url(../../images/slide\ 1.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 40%;
    max-width: 40vw;
    height: 35%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    box-sizing: border-box;
    @include flexbox(column, flex-start, center);
}

.overlay h1, p {
    margin-inline: 35% 10%;
}
.overlay h1{
    font-size: 2vw;
    padding-bottom: 3%;
}

.overlay p{
    font-size: 2vmin;
}
.hidden {
    display: none;!important;
}

@media only screen and (max-width: 768px) {
    .navbarlinks li:nth-child(-n+8) {
        display: none;
        margin: 0;
    }

    .navbarlinks {
        padding-inline: 0;
    }

    .nav {
        justify-content: flex-end;
        align-items: center;
        display: flex;
    }

    #logo {
        margin-top: 8%;
        margin-inline-end: 30%;
        padding: 0;
        width: 20%
    }
    .menu-button {
        @include flexbox(column, center, space-around);
        width: 40px;
        height: 50px;
        margin-left: auto;
        position: relative;
    }

    .slideshow-container {
        width: 100%;
        height: 50vh;
    }
    .overlay{
        display: none;
    }

    .off-screen-menu{
        background-color: #252525;
        height: 53vh;
        width: 100%;
        max-width: 250px;
        position: fixed;
        top: 0;
        right: -250px;
        @include flexbox(column, center, center);
        text-align: center;
        font-size: 3rem;
        transition: .4s ease;
        display: show;
        font-size: 18px;
        
    }

    .off-screen-menu ul{
        list-style-type: none;
        margin-top: 15%;
    }

    .off-screen-menu ul li{
        padding: 3% 0;
    }

    .off-screen-menu ul li a{
        text-decoration:none;
        color: #FFFFFF;
        font-family: "Roboto", sans-serif;
    }  
    
    .off-screen-menu li:last-child a {
        display: flex;
        align-items: center;
    }

    .off-screen-menu li:last-child a img{
        width: 27px;
        height: 20px;
    }
    .off-screen-menu.active{
        right:0
    }

    .menu-button span{
        height: 5px;
        width: 100%;
        background-color: #FFFFFF;
        border-radius: 25px;
        transform: translate(-50%, -50%);
        transition: .5s ease;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    .menu-button span:nth-child(1){
        top:25%;

    }
    .menu-button span:nth-child(3){
        top: 75%;
    }

    .menu-button.active span:nth-child(1){
        top: 60%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .menu-button.active span:nth-child(2){
        opacity: 0;
    }
    .menu-button.active span:nth-child(3){
        top: 50%;
        transform: translate(-50%, 50%) rotate(-45deg);
    }
    .header-off-screen{
        background-color: #B50014;
        width: 100%;
        height: 18.8%;
        position: absolute;
        top: 0;
        @include flexbox(row, center, flex-start);   
        color: #FFFFFF;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        padding-left: 10%;
    }
}

.section1{
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

#omotac1 {
    width: 80%;
    height: 70%;
    display: flex;
}

.Omotac1-children {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.child1 {
    @include flexbox(column, flex-start, space-between);
    padding-right: 10%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
}

.child2 {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.child2>img {
    width: 100%;
    margin-bottom: 10px;
}

.img-row {
    padding-top: 3%;
    display: flex;
}

.img-row img {
    width: calc(33.33% - 10px);
    margin-right: 10px;
}

.image-row img:last-child {
    margin-right: 0;
}

.child1>span {
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
}

.child1-buttons {
    display: flex;
    width: 80%;
}

.child1-buttons button {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    padding: 3% 10%;
    font-size: 16px;
    background-color: #B50014;
    margin: 10% 2%;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.child1-buttons button:hover {
    background-color: #FFFFFF;
    color: #B50014;
}

.child1>div>h2 {
    font-size: 32px;
}

.child1>div>h3 {
    font-size: 22px;
}

/*#section1 {
    @include flexbox(row, center, center);
    width: 100%;
    height: 700px;
    background-color: #252525;
    margin-top: -10px;
}

#omotac1 {
    width: 60%;
    height: 70%;
    display: flex;
}

.Omotac1-children {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.child1 {
    display: flex;
    @include flexbox(column, flex-start, space-between);
    padding-right: 10%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
}

.child2 {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.child2>img {
    width: 100%;
    margin-bottom: 10px;
}

.img-row {
    display: flex;
}

.img-row img {
    width: calc(33.33% - 10px);
    margin-right: 10px;
}

.image-row img:last-child {
    margin-right: 0;
}

.child1>span {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

.child1-buttons {
    display: flex;
    width: 100%;
}

.child1-buttons button {
    margin: 13% 2%;
    @include button-style(#B50014, #ffffff, 3% 10%, 25px, #FFFFFF);
}

.child1>div>h2 {
    font-size: 32px;
}

.child1>div>h3 {
    font-size: 22px;
}

.section2 {
    @include flexbox(row, center, center);
    background-color: #B50014;
    color: #FFFFFF;
}

.section2-child1 {
    flex: 1;
    @include flexbox(column, center, center);
    box-sizing: border-box;
}

.section2-child1 div>ul {
    padding: 7%;
    margin: 0;
}

.section2-child1 div>ul li {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

.section2-child1>div {
    @include flexbox(column, flex-start, space-between);
    padding-right: 10%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin-left: 17%;
}

#Grillkurs {
    margin: 13% 2%;
    width: 174px;
    height: 47px;
    @include button-style(#FFFFFF, #252525, 3% 10%, 25px, #B50014);
}

.section2-child1 div>h2 {
    font-weight: 700;
    font-size: 32px;
}

.section2-child2 {
    flex: 1;
    position: relative;
}

.section2-child2 img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.section3 {
    background-color: #252525;
    @include flexbox(column, center, center);
    color: $text-color;
}

.section3 {
    background-color: #252525;
    @include flexbox(column, center, center);
    text-align: center;
    color: $text-color;
    padding: 50px 20px;
    font-family: "Roboto", sans-serif;
}

.section3 span {
    margin-bottom: 20px;
    width: 50%;
}

.section3 button {
    margin-top: 25px;
    margin-bottom: 60px;
    width: 174px;
    height: 47px;
    @include button-style(#B50014, #FFFFFF, 3% 10%, 25px, #B50014);
}

.section3>div {
    @include flexbox(row, center, center);
    margin-top: 20px;
}

.section3>div img {
    width: 262px;
    height: 243px;
    margin: 0 10px;
  
}

.section4 {
    display: flex;
    width: 100%;
    height: 705;
}

.img-div {
    flex: 1;
    @include flexbox(column, center, center);
    overflow: hidden;
}

.img-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-div {
    flex: 1;
    @include flexbox(column, flex-start, center);
    padding: 20px;
    background-color: #B50014;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
}

.text-div h1,
.text-div h2,
.text-div span {
    margin-bottom: 20px;
    text-align: left;
    margin-left: 15%;
    width: 50%;
}

.text-div h1,
h2 {
    font-weight: 700;
}

.text-div span {
    font-weight: 300;
}

.section5 {
    background-image: url("../../images/80457d7e9d392ee84954d90d13d15d69@2x\ 1.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 540px;
    @include flexbox(row, flex-start, center);
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    position: relative;
}

.section5::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: -1;
}

.section5 h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.section5 button {
    margin-top: 20px;
    width: 174px;
    height: 47px;
    @include button-style(#FFFFFF, #000000F0, 3% 10%, 25px, #B50014);
}*/

